<div style="background-color:#F9F9F9" ng-init="AutoLogin()" ng-hide="group.length > 0">
	<div class="container" style="padding: 50px 20px">
		<h1>Project Base</h1>
	</div>
</div>

<div class="container" style="padding: 50px 20px" ng-show="$root.isLoggedIn">
	<div class="alert alert-danger" ng-show="serverErrorMsgs.length > 0">
		<div ng-repeat="msg in serverErrorMsgs">
			{{msg}}
		</div>
	</div>
	<div ng-show="group.length == 0">
		<span ng-repeat="(key, value) in groups">
			<a href="" ng-click="JoinGroup(key)">{{key}} ({{value}})</a>&nbsp;
		</span>
		<form name="joinGroupForm" class="form-inline" role="form" ng-submit="JoinGroup()" novalidate>
			<div class="form-group">
				<label class="sr-only" for="joinGroupForm_group">Group</label>
				<input type="text" class="form-control" name="group" id="joinGroupForm_group" placeholder="Group" ng-model="formData.joinGroupForm.group" required ng-maxlength="1000" />
			</div>
			<button type="submit" class="btn btn-default" ng-disabled="!$root.hubInitialized || joinGroupForm.group.$invalid">Create Group</button>
		</form>
	</div>
	<div ng-show="group.length > 0">
		Group: <b>{{group}}</b>
		<button class="btn btn-default" ng-click="LeaveGroup()">Leave Group</button>
		<form name="broadcastForm" class="row" role="form" ng-submit="BroadcastToGroup()" style="padding: 10px 10px">
			<div class="col-sm-9" style="padding-left:0">
				<input type="text" class="form-control" name="msg" placeholder="Message" ng-model="formData.broadcastForm.msg" required ng-maxlength="1000" />
			</div>
			<button type="submit" class="col-sm-3 btn btn-default" ng-disabled="!$root.hubInitialized || broadcastForm.msg.$invalid">Broadcast!</button>
		</form>
		<div ng-show="messages.length > 0">
			<div class="row" style="padding: 10px 0" ng-class="{'bg-info' : $index % 2 == 0}" ng-repeat="msg in messages | orderBy:'tick':true">
				<div class="col-sm-3">{{msg.name}}<br />{{msg.dateStr}}</div>
				<div class="col-sm-9">{{msg.msg}}</div>
			</div>
		</div>
	</div>
</div>