<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DbType" value="SQLite" />
    <add key="ConnectionString" value="Data Source=test.db;Version=3;" />
    <!-- Bigger = slower = harder to crack. Default = 10000 -->
    <add key="PasswordHashIterations" value="10000" />
    <!-- Session's inactive lifetime in min. Default = 15 -->
    <add key="SessionInactiveLifetime" value="15" />
    <!-- Session's inactive check interval in min. Default = 5 -->
    <add key="SessionInactiveCheckInterval" value="0.5" />
    <!-- Login cookie's life time in days. Default = 14 -->
    <add key="CookieLifetime" value="14" />
    <add key="BaseWebApiAddress" value="https://localhost:8000/PBService/" />
    <add key="BaseWebUIAddress" value="https://localhost:8000/#/" />
    <add key="FromEmail" value="noreply@test.com" />
    <add key="RegistrationRequiresEmailVerification" value="false" />
    <add key="WebsiteName" value="Project Base" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" enableSsl="true" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>