<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\BusinessLogicLayer\BusinessLogic\packages.config" />
  <repository path="..\DataAccessLayer\DataAccess\packages.config" />
  <repository path="..\Frameworks\Frameworks\packages.config" />
  <repository path="..\PresentationLayer\WebUI\packages.config" />
  <repository path="..\SamplePlugins\packages.config" />
  <repository path="..\ServiceLayer\Hubs\packages.config" />
  <repository path="..\ServiceLayer\ServiceCommon\packages.config" />
  <repository path="..\ServiceLayer\WebApiControllers\packages.config" />
  <repository path="..\ServiceLayer\WinService\packages.config" />
  <repository path="..\UnitTests\packages.config" />
</repositories>